<div style="z-index: 10;margin-top:40px;
position: absolute;" class="container mt-4">

  <div style="margin-top:40px;" class="row justify-content-md-center">
    <div  style="padding:50px"class="jumbotron bg-light col-6">
         <wallet-display *ngIf="connected == true" [myWallet]="wallet" ></wallet-display>
      <h1 class="display-4">Hi Streamer!</h1>
      <p class="lead">We are happy that you step by!!</p>
      <hr class="my-4" />
      <div *ngIf="connected == false; else iamconnected">
        <p>Connect your wallet</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">conect</a>
        </p>
      </div>
      <ng-template #iamconnected>
        <div *ngIf="registered == true">
          <p>You are connected, please see your active streams</p>
          <!-- Example split danger button -->
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-danger dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="sr-only">Actions </span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/dashboard/create-stream" 
                >Create a stream</a
              >
              <!-- <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a> -->
            </div>
          </div>
          <p>your streams</p>
        </div>

        <div *ngIf="registered == false">
          <p>Plase input your phone number and start the onboarding process</p>
          <div class="form-group">
            <input
              [class.has-error]="phoneNumberCtrl.invalid"
              [formControl]="phoneNumberCtrl"
              type="string"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Phone Number?"
            />
          </div>
          <!-- <button
            (click)="startFlow()"
            type="button btn-secondary"
            class="btn mt-2"
          >
            Start Stream
          </button> -->

          <button
          [disabled]="phoneNumberCtrl.invalid"
          [class]="phoneNumberCtrl.invalid ? 'btn-secondary' : 'btn-success'"
          (click)="startVerification()"
          type="button"
          class="btn mt-2"
        >
          On Board -->
        </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div *ngIf="showInputCode"
  style="
    z-index: 1000000;
    background: #00000070;
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;align-items: center;
    top: 0;display: flex;justify-content: center;
  "
>
 <div style="width: 300px;height: 217px;background: white;padding: 20px;">
  <p>Plase input your the sms code you received</p>
  <div class="form-group">
    <input
      [class.has-error]="codeCtrl.invalid"
      [formControl]="codeCtrl"
      type="string"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Phone Number?"
    />
  </div>
  <button
  [disabled]="codeCtrl.invalid"
  [class]="codeCtrl.invalid ? 'btn-secondary' : 'btn-success'"
  (click)="finishVerification()"
  type="button"
  class="btn mt-2"
>
 Verify
</button>
 </div>
</div>

<img id="image-7" data-name="image 7" alt="image 7" class="image-7" />