<div class="container mt-4">
  <!-- <div class="row">
    <div class="col bg-success">.col</div>
    <div class="col-6 bg-warning">.col-6</div>
    <div class="col bg-success">.col</div>
  </div> -->
  <div class="row justify-content-md-center">
    <div class="jumbotron bg-light col-6">
      <h1 class="display-4">Hi Streamer!</h1>
      <p class="lead">We are happy that you step by, here you can sart</p>
      <hr class="my-4" />
      <div *ngIf="connected == false; else iamconnected">
        <p>
         Connect your wallet 
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button"
            >conect</a
          >
        </p>
      </div>
      <ng-template #iamconnected>
        <div *ngIf="registered == true" >
          <p >
           You are connected, please see your active streams
          </p>
                <!-- Example split danger button -->
      <div class="btn-group">
       
        <button
          type="button"
          class="btn btn-danger dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
        </div>

        <div *ngIf="registered == false" >
          <p >
           Plase input your phone number and start the onboarding process
          </p>
          <button (click)="startVerification()" type="button" class="btn btn-success">On Board --></button>
        </div> 
      </ng-template>

    </div>
  </div>
</div>
