
  <div style="display:flex;flex-direction: column;position: absolute">
    <div 
    id="Frame-3"
    data-name="Frame 3"
    class="Frame-3"
  >
    <div class="Pay-as-you-live--outer">
    <div
      id="Pay-as-you-live-"
      data-name="Pay as you live."
      class="Pay-as-you-live-"
    ><div key="0">Pay as you live.</div>
    </div>
    </div>
    <div class="Real-time-programmab-outer">
    <div
      id="Real-time-programmab"
      data-name="Real-time programmable payment flows with just a phone number."
      class="Real-time-programmab"
    ><div key="0">Real-time programmable payment flows </div>
  <div key="1">with just a phone number.</div>
    </div>
    </div>
  </div>
  
    <div
      id="Frame-4"
      data-name="Frame 4"
      class="Frame-4"
    >
      <div class="Powered-by-Superflui-outer">
      <div
        id="Powered-by-Superflui"
        data-name="Powered by Superfluid"
        class="Powered-by-Superflui"
      ><div key="0">Powered by Superfluid</div>
      </div>
      </div>
      <div class="Screen-Shot-2022-02--outer">
      <img
        id="Screen-Shot-2022-02-"
        data-name="Screen Shot 2022-02-04 at 2.16 1"
        alt="Screen Shot 2022-02-04 at 2.16 1"
        class="Screen-Shot-2022-02-"
      />
      </div>
  
    </div>
  
   
    <web3-modal  stle="display: block;" class="mt-4"
    [injectionProvider]="onChainService.injectionProvider" 
    [network]="'mumbai'"  
      ></web3-modal></div>
  <img id="image-8" data-name="image 8" alt="image 7" class="image-7" />