<button 
id="Frame-16-1"
data-name="Frame 16"
class="Frame-16-1"
>

<div class="Connect-Wallet-outer">
<div  style="cursor:pointer"
  id="Connect-Wallet"
  data-name="Connect Wallet"
  class="Connect-Wallet"
><div  style="cursor: pointer;" key="0">
Connect Wallet</div>
</div>
</div>
<div style="cursor:pointer" class="noun-link-4568748-1-outer">
<img
  id="noun-link-4568748-1"
  data-name="noun-link-4568748 1"
  alt="noun-link-4568748 1"
  class="noun-link-4568748-1"
/>
</div>
</button>
<mat-slide-toggle
[(ngModel)]="connected"
(ngModelChange)="web3modalAction($event)"
class="example-margin"
[color]="'warn'"
[checked]="connected"
[disabled]="false"
>
</mat-slide-toggle>

